<%- include('partials/header'); -%>

      <strong class="d-inline-block mb-2 text-primary"> <%= section %> </strong>
      <h1 class="mb-0"> <%= title %> </h1>
      <div class="mb-1 text-muted"> <%= day %> </div>
      <p class="card-text mb-auto"> <%= content %> </p>


<%- include('partials/footer'); -%>
